{% extends 'movies/base.html' %}
{% load static %}


{% block banner-style %}"outline: none; outline-offset: -2px; cursor: inherit; color: rgb(33, 37, 41); font-size: 16px; background-color: rgba(0, 0, 0, 0); font-family: Lato, sans-serif;"{% endblock %}
{% block container %}"container py-md-3"{% endblock %}
{% block side-bar %}"side-bar col-lg-4"{% endblock %}

{% block product-right %}
<div class="left-ads-display col-lg-8">
    <div class="row">
        <div class="desc1-left col-md-6">
            <img src="{{ actor.image.url }}" class="img-fluid" alt="">
        </div>
        <div class="desc1-right col-md-6 pl-lg-4">
            <h3 class="editContent">
                {{ movie.title }}
            </h3>
            <h5 class="editContent"></h5>
            <ul>
                <li>
                    <span><b>Возраст:</b> {{ actor.age }} лет</span>
                </li>
                <li>
                    <span><b>Режиссер:</b>
                        <!--Так как режиссёры, актёры и жанры это связка многие ко многим, то их
                        необходимо обрабатывать циклом.-->
                        <!--Обращаемся к нашему контроллеру, используя related_name из модели Movies,
                        чтобы получить сведения о человеке.-->
                        {% for movie in actor.film_director.all  %}
                            {{ movie.title }}
                        {% endfor %}
                    </span>
                </li>
                <li>
                    <span><b>Актеры:</b>
                        {% for movie in actor.film_actor.all %}
                            {{ movie.title }}
                        {% endfor %}
                    </span>
                </li>
            </ul>
        </div>
    </div>
    <div class="row sub-para-w3layouts mt-5">

        <h3 class="shop-sing editContent">
            О {{ actor.name }}
        </h3>
        <p>
            <!--Происходит обращение к модели movie и через неё забираем все объекты связанные с
            movieshots.-->
            {% for image in movie.movieshots_set.all %}
            <img src="{{ image.image.url }}" class="img-movie-shots" alt="{{ image.description }}">
            {% endfor %}
        </p>
        <p class="editContent" style="outline: none; cursor: inherit;">
            {{ actor.description }}
        </p>
        <p class="mt-3 italic-blue editContent"
           style="outline: none; cursor: inherit;">
            <iframe width="560" height="315"
                    src="https://www.youtube.com/embed/A36LahZNUiE?controls=0"
                    frameborder="0" allow="accelerometer; autoplay;
                                                                           encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>

            </iframe>
        </p>
    </div>
</div>
{% endblock %}