<!DOCTYPE html>
{% load i18n %}
{% load static %}

<html lang="ru">
<head>
    <!-- //Meta tag Keywords -->
    <title>Clack Website Template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- //Meta tag Keywords -->
    <!-- Custom-Files -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <!-- Bootstrap-Core-CSS -->
    <!--/ Style-CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all">
    <!--// Style-CSS -->
    <!-- font-awesome-icons -->
    <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
    <!-- //font-awesome-icons -->
    <!-- /Fonts -->
    <link href="//fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900"
          rel="stylesheet">
    <!-- //Fonts -->
</head>
<body>
<div id="page" class="page">
    <div class="main-banner inner bg bg1" id="home" style="background: url({% static 'images/banner.jpg' %})no-repeat center; background-size: cover;">
        <!-- header -->
        <header class="header">
            <div class="container-fluid px-lg-5">
                <!-- nav -->
                <nav class="py-4">
                    <div id="logo">
                        <h1>
                            <a href="index.html" class="editContent"
                               style="outline: none; outline-offset: -2px; cursor: inherit; color: rgb(255, 255, 255); font-size: 40px; background-color: rgba(0, 0, 0, 0); font-family: &quot;Source Sans Pro&quot;, sans-serif;">
                                DjangoMovie
                            </a>
                        </h1>
                    </div>

                    <label for="drop" class="toggle">Menu</label>
                    <input type="checkbox" id="drop">
                    <ul class="menu mt-2">
                        <li>
                            <a href="{% url 'movies:movie' %}">Главная</a>
                        </li>
                        <li>
                            <!-- First Tier Drop Down -->
                            <label for="drop-2" class="toggle">Категории <span
                                    class="fa fa-angle-down" aria-hidden="true"
                                    style="outline: none; cursor: inherit;"></span> </label>
                            <a href="#">Категории <span class="fa fa-angle-down"
                                                        aria-hidden="true"></span></a>
                            <input type="checkbox" id="drop-2">
                            <ul>
                                {% for category in category_list %}
                                <li>
                                    <a href="moviesingle.html">
                                        {{ category }}
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </li>
                        {% if user.is_authenticated %}
                        <li>
                            <a href="{% url 'users:profile' %}"> {{ user.username }} </a>
                        </li>
                        <li>
                            <a href="{% url 'users:logout' %}"
                               style="color: rgb(255, 255, 255); font-weight: 700; text-transform: uppercase;">
                                Выход
                            </a>
                        </li>
                        {% else %}
                        <li>
                            <a href="{% url 'users:login' %}"
                               style="color: rgb(255, 255, 255); font-weight: 700; text-transform: uppercase;">
                                Вход
                            </a>
                        </li>
                        {% endif %}
                        <li>
                            <!--Добавляем форму для перевода, которая будет показывать все зарегистрированные языки.-->
                            <form action="{% url 'set_language' %}" method="post">
                                {% csrf_token %}
                                <input name="next" type="hidden" value="{{ redirect_to }}">
                                <select name="language">
                                    {% get_current_language as LANGUAGE_CODE %}
                                    {% get_available_languages as LANGUAGES %}
                                    {% get_language_info_list for LANGUAGES as languages %}
                                    {% for language in languages %}
                                    <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %}
                                            selected{% endif %}>
                                        {{ language.name_local }} ({{ language.code }})
                                    </option>
                                    {% endfor %}
                                </select>
                                <input type="submit" value="Go">
                            </form>
                        </li>
                    </ul>
                </nav>
                <!-- //nav -->
            </div>
        </header>
        {% block banner-info %} {% endblock %}
    </div>
    <ol class="breadcrumb editContent">
        <li class="breadcrumb-item">
            <a href="{% url 'movies:movie' %}" class="editContent">
                Home
            </a>
        </li>
        <li class="breadcrumb-item active editContent">
            Single
        </li>
    </ol>

    <section class="ab-info-main py-md-5 py-4 editContent" style={% block banner-style %} {% endblock %}>
        <div class={% block container %} {% endblock %}>
            <!-- top Products -->
            <div class="row">
                <!-- product left -->
                <div class={% block side-bar %} {% endblock %}>
                    <!--Поиск фильма по названию.-->
                    <div class="search-bar w3layouts-newsletter">
                        <h3 class="sear-head editContent" style="outline: none; cursor: inherit;">
                            Поиск фильма</h3>
                        <form action="{% url 'movies:search' %}" method="get" class="d-flex editContent">
                            <input type="search" placeholder="Введите название..." name="q"
                                   class="form-control" required="">
                            <button type="submit" class="btn1 btn">
                                <span class="fa fa-search" aria-hidden="true"></span>
                            </button>
                        </form>
                    </div>
                    <!--preference -->
                    <!--Передаём имя url.-->
                    <form action="{% url 'movies:filter' %}" method="get">
                        <div class="left-side my-4">
                            <h3 class="sear-head editContent">
                                Жанры
                            </h3>
                            <ul class="w3layouts-box-list">
                                {% for genre in genres %}
                                <li class="editContent">
                                    <!--Добавляем name, чтобы можно было забирать все выбранные жанры в контроллере.-->
                                    <input type="checkbox" class="checked" name="genres" value="{{ genre.id }}">
                                    <span class="span editContent">{{ genre.name }}</span>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <!-- // preference -->
                        <!-- discounts -->
                        <div class="left-side">
                            <h3 class="sear-head editContent">
                                Год
                            </h3>
                            <ul class="w3layouts-box-list">
                                {% for movie in movies %}
                                <li class="editContent">
                                    <input type="checkbox" class="checked" name="year" value="{{ movie.year }}">
                                    <span class="span editContent">{{ movie.year }}</span>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <!--Добавляем кнопку, чтобы была возможность отправить нашу форму.-->
                        <button type="submit">Найти</button>
                    </form>
                    <!-- //discounts -->
                    <!-- reviews -->
                    <div class="customer-rev left-side my-4">
                        <h3 class="sear-head editContent">
                            Рейтинг
                        </h3>
                        <ul class="w3layouts-box-list">
                            <li>
                                <a href="#">
                                    <span class="fa fa-star" aria-hidden="true"></span>
                                    <span class="fa fa-star" aria-hidden="true"></span>
                                    <span class="fa fa-star" aria-hidden="true"></span>
                                    <span class="fa fa-star" aria-hidden="true"></span>
                                    <span class="fa fa-star" aria-hidden="true"></span>
                                    <span class="editContent">5.0</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="fa fa-star" aria-hidden="true"></span>
                                    <span class="fa fa-star" aria-hidden="true"></span>
                                    <span class="fa fa-star" aria-hidden="true"></span>
                                    <span class="fa fa-star" aria-hidden="true"></span>
                                    <span class="fa fa-star-o" aria-hidden="true"></span>
                                    <span class="editContent">4.0</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="fa fa-star" aria-hidden="true"></span>
                                    <span class="fa fa-star" aria-hidden="true"></span>
                                    <span class="fa fa-star" aria-hidden="true"></span>
                                    <span class="fa fa-star-half-o" aria-hidden="true"></span>
                                    <span class="fa fa-star-o" aria-hidden="true"></span>
                                    <span class="editContent">3.5</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="fa fa-star" aria-hidden="true"></span>
                                    <span class="fa fa-star" aria-hidden="true"></span>
                                    <span class="fa fa-star" aria-hidden="true"></span>
                                    <span class="fa fa-star-o" aria-hidden="true"></span>
                                    <span class="fa fa-star-o" aria-hidden="true"></span>
                                    <span class="editContent">3.0</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="fa fa-star" aria-hidden="true"></span>
                                    <span class="fa fa-star" aria-hidden="true"></span>
                                    <span class="fa fa-star-half-o" aria-hidden="true"></span>
                                    <span class="fa fa-star-o" aria-hidden="true"></span>
                                    <span class="fa fa-star-o" aria-hidden="true"></span>
                                    <span class="editContent">2.5</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- //reviews -->
                    <!-- deals -->
                    <div class="deal-leftmk left-side">
                        <h3 class="sear-head editContent">
                            Последние добавленные
                        </h3>
                        {% for movie in last_movies %}
                        <div class="special-sec1 row mt-3 editContent">
                            <div class="img-deals col-md-4">
                                <img src="{{ movie.poster.url }}" class="img-fluid" alt="{{ movie.url }}">
                            </div>
                            <div class="img-deal1 col-md-4">
                                <a href="{% url 'movies:movie_detail' movie.url %}" class="editContent">
                                    <h3 class="editContent">
                                        {{ movie.title }}
                                    </h3>
                                </a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <!-- //deals -->
                    <!-- //deals -->

                </div>
                <!-- //product left -->
                <!-- product right -->
                {% block product-right %} {% endblock %}
            </div>
        </div>
    </section>

    <!-- footer -->
    {% include "movies/footer.html" %}
    <!-- //footer -->
    <div class="cpy-right py-3">
        <div class="container">
            <div class="row">
                <p class="col-md-10 text-left">© 2019 DjangoMovie. All rights reserved | Design by
                    <a href="https://djangochannel.com"> DJANGO SCHOOL.</a>
                </p>
                <!-- move top icon -->
                <a href="#home" class="move-top text-right col-md-2"><span
                        class="fa fa-long-arrow-up" aria-hidden="true"
                        style="outline: none; cursor: inherit;"></span></a>
                <!-- //move top icon -->
            </div>
        </div>
    </div>
</div>
<script src="{% static 'js/scripts.js' %}"></script>
</body>