{% extends 'movies/base.html' %}
{% load static %}


{% block banner-info %}
<div class="banner-info">
    <p class="editContent">лучший сайт на django 3</p>
    <h3 class="mb-4 editContent">Все о кино</h3>
    <div class="ban-buttons">


    </div>
</div>
{% endblock %}

{% block banner-style %}"padding-left: 3rem; padding-right: 3rem;"{% endblock %}
{% block container %}"container-fluid py-md-3"{% endblock %}
{% block side-bar %}"side-bar col-lg-3"{% endblock %}
{% block product-right %}
<div class="left-ads-display col-lg-9">
    <div class="row">
        {% for movie in movie_list %}
        <div class="col-md-4 product-men">
            <div class="product-shoe-info editContent text-center mt-lg-4">
                <div class="men-thumb-item">
                    <img src="{{ movie.poster.url }}" class="img-fluid" alt="">
                </div>
                <div class="item-info-product">
                    <h4 class="">
                        <a href="{% url 'movies:movie_detail' movie.url %}" class="editContent">
                            {{ movie.title }}
                        </a>
                    </h4>

                    <div class="product_price">
                        <div class="grid-price">
                                        <span class="money editContent">
                                            {{ movie.tagline }}
                                        </span>
                        </div>
                    </div>
                    <ul class="stars">
                        <li><a href="#"><span class="fa fa-star" aria-hidden="true"></span></a></li>
                        <li><a href="#"><span class="fa fa-star" aria-hidden="true"></span></a></li>
                        <li><a href="#"><span class="fa fa-star-half-o" aria-hidden="true"></span></a></li>
                        <li><a href="#"><span class="fa fa-star-half-o" aria-hidden="true"></span></a></li>
                        <li><a href="#"><span class="fa fa-star-o" aria-hidden="true"></span></a></li>
                    </ul>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <!--<div class="grid-img-right mt-4 text-right bg bg1" >
        <span class="money editContent" >Flat 50% Off</span>
        <a href="moviesingle.html" class="btn" >Now</a>
    </div>-->

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <!--Если у данного списка нет предыдущих элементов, то делаем кнопку неактивной.-->
            <li class="page-item {% if not movie_list.has_previous %} disabled {% endif %}">
                <!--Если у нас есть предыдущая страница, то мы будем добавлять определённый url-адрес,
                иначе передаём пустую ссылку.-->
                <a class="page-link"
                   href="{% if movie_list.has_previous %} {% url 'movies:paginator' movie_list.previous_page_number %} {% else %} # {% endif %}"
                   tabindex="-1" aria-disabled="true">
                    Предыдущая
                </a>
            </li>
            {% for page in movie_list.paginator.page_range %}
            <li class="page-item">
                <a class="page-link" href="{% url 'movies:paginator' page %}">
                    {{ page }}
                </a>
            </li>
            {% endfor %}
            <!--С кнопкой перехода на следующую страницу делаем всё тоже самое, что и с предыдущей.-->
            <li class="page-item {% if not movie_list.has_next %} disabled {% endif %}">
                <a class="page-link"
                   href="{% if movie_list.has_next %} {% url 'movies:paginator' movie_list.next_page_number %} {% else %} # {% endif %}">
                    Следующая
                </a>
            </li>
        </ul>
    </nav>

</div>
{% endblock %}